<html>
<head>
<link rel="stylesheet" href="/css-files/ecom.css" >
</head>
<body>
<div>
<div>
<img id="img" src="<%= data.image %>" height="400" width="300" />

<h1 id="hello" >Hello <%= data.username %> </h1>

</div>
<a   href="/"><button  class="button"  class="logout" >Back To Home page</button></a>
</div>
</body>
</html>