<html>

<head>
  <link rel="stylesheet" href="/css-files/login-signup.css">
</head>

<body>
  <div id="container">
    <% if(err){%>
      <div id="error">
        <h1>
          <%=message%>
        </h1>
      </div>
      <% }%>
        <h1> Reset Password </h1>
        <form method="post" action="/changePassword">
          <label> Enter new password </label>
          <input required name="newPassword" placeholder="New password" />
          <label> Verify password </label>
          <input required name="rePassword" placeholder="Confirm password" />
          <input class="button" type="submit" value="UPDATE PASSWORD" />
  </div>
  </form>

</body>

<p id="paraline"> want to change Password later? <a id="anchor" href="/">Back to Homepage!</a> </p>
<script>
  var errorDiv = document.getElementById("error");
  setTimeout(function () {
    errorDiv.style.display = "none";
  }, 5000)
</script>

</html>