<html>

<head>
  <link rel="stylesheet" href="/css-files/login-signup.css">
</head>

<body>
  <h1 id="forgo">Forgot Password ? <br> Please enter Email ID</h1>
  <br>
  <div class="forgot-password-container">
    <% if(err){%>
      <div id="error">
        <h1>
          <%=message%>
        </h1>
      </div>
      <% }%>
        <form method="post" action="/forgotPassword">
          <h2 class="forgot-form-label">Enter your registered email address</h2>
          <input class="login-form-input" required name="email" placeholder="Enter your email" />
          <input class="button login-form-button" type="submit" value="RESET PASSWORD" />
  </div>
  </form>
</body>
<script>
  var errorDiv = document.getElementById("error");
  setTimeout(function () {
    errorDiv.style.display = "none";
  }, 5000)
</script>

</html>