<html>

<head>

    <link rel="stylesheet" href="/css-files/homepage.css">
    <title>ALIBABA HOMEPAGE</title>
</head>

<body>
    <div class="app-title-bg">
        <div class="app-title-div">
            <h1>Welcome to <h1 class="title-italic-part">Alibaba</h1></h1>
        </div>
    </div>
    <div class="container">
        <div class="container-card">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info.</p>
            <a href="/login"><button>LOGIN</button></a>
        </div>
        <div class="container-card">
            <h1>Hello, Friend!</h2>
            <p>Enter your personal details and start journey with us.</p>
            <a href="/signup"><button>SIGNUP</button></a>
        </div>
        <div class="container-card">
            <h1>Welcome, Guest!</h1>
            <p>Want to have a look first? Don't worry click here!</p>
            <a href="/guest"><button>GUEST</button></a>
        </div>
    </div>
</body>

</html>