<html>
<head>

<link rel="stylesheet" href="/css-files/homepage.css">
<title>ALIBABA HOMEPAGE</title>
</head>
<body>
<div class = container>
<h1 id="header">Welcome to Alibaba</h1>
<div id="login" >
<h2>Welcome Back!</h2>
<p>To keep connected with us please login with your personal info</p>
<a href="/login"><button>LOGIN</button></a>
</div>
<div id="signup" >
<h2>Hello, Friend!</h2>
<p>Enter your personal details and start journey with us</p>
<a href="/signup"><button>SIGNUP</button></a>
</div>
</div>
</body>
</html>